[submodule "cranelift"]
	path = cranelift
	url = https://github.com/wasmerio/cranelift.git
	fetchrecursesubmodules = true
[submodule "emscripten"]
	path = emscripten
	url = git@github.com:WAFoundation/emscripten.git
